<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>Archi-beria</key>
  <string>A_rchi-beria.glif</string>
  <key>Ay-beria</key>
  <string>A_y-beria.glif</string>
  <key>Ay-beria.alt</key>
  <string>A_y-beria.alt.glif</string>
  <key>Ay_acute-beria</key>
  <string>A_y_acute-beria.glif</string>
  <key>Ay_dot-beria</key>
  <string>A_y_dot-beria.glif</string>
  <key>Ay_grave-beria</key>
  <string>A_y_grave-beria.glif</string>
  <key>Ay_macron-beria</key>
  <string>A_y_macron-beria.glif</string>
  <key>Bay-beria</key>
  <string>B_ay-beria.glif</string>
  <key>Chei-beria</key>
  <string>C_hei-beria.glif</string>
  <key>Chei-beria.alt</key>
  <string>C_hei-beria.alt.glif</string>
  <key>Day-beria</key>
  <string>D_ay-beria.glif</string>
  <key>Djay-beria</key>
  <string>D_jay-beria.glif</string>
  <key>Effi-beria</key>
  <string>E_ffi-beria.glif</string>
  <key>Effi-beria.alt</key>
  <string>E_ffi-beria.alt.glif</string>
  <key>Elli-beria</key>
  <string>E_lli-beria.glif</string>
  <key>Elli-beria.alt</key>
  <string>E_lli-beria.alt.glif</string>
  <key>Emmi-beria</key>
  <string>E_mmi-beria.glif</string>
  <key>Enni-beria</key>
  <string>E_nni-beria.glif</string>
  <key>Erri-2-beria</key>
  <string>E_rri-2-beria.glif</string>
  <key>Erri-beria</key>
  <string>E_rri-beria.glif</string>
  <key>Essi-beria</key>
  <string>E_ssi-beria.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>Ey-beria</key>
  <string>E_y-beria.glif</string>
  <key>Ey-beria.alt</key>
  <string>E_y-beria.alt.glif</string>
  <key>Ey_acute-beria</key>
  <string>E_y_acute-beria.glif</string>
  <key>Ey_dot-beria</key>
  <string>E_y_dot-beria.glif</string>
  <key>Ey_grave-beria</key>
  <string>E_y_grave-beria.glif</string>
  <key>Ey_macron-beria</key>
  <string>E_y_macron-beria.glif</string>
  <key>Gay-beria</key>
  <string>G_ay-beria.glif</string>
  <key>Gna-beria</key>
  <string>G_na-beria.glif</string>
  <key>Hay-beria</key>
  <string>H_ay-beria.glif</string>
  <key>Hiyi-beria</key>
  <string>H_iyi-beria.glif</string>
  <key>Iya-beria</key>
  <string>I_ya-beria.glif</string>
  <key>Iyi-beria</key>
  <string>I_yi-beria.glif</string>
  <key>Iyi-beria.alt</key>
  <string>I_yi-beria.alt.glif</string>
  <key>Iyi_acute-beria</key>
  <string>I_yi_acute-beria.glif</string>
  <key>Iyi_dot-beria</key>
  <string>I_yi_dot-beria.glif</string>
  <key>Iyi_grave-beria</key>
  <string>I_yi_grave-beria.glif</string>
  <key>Iyi_macron-beria</key>
  <string>I_yi_macron-beria.glif</string>
  <key>Key-beria</key>
  <string>K_ey-beria.glif</string>
  <key>Key-beria.alt</key>
  <string>K_ey-beria.alt.glif</string>
  <key>Khay-beria</key>
  <string>K_hay-beria.glif</string>
  <key>Nay-beria</key>
  <string>N_ay-beria.glif</string>
  <key>Oi-beria</key>
  <string>O_i-beria.glif</string>
  <key>Oi_acute-beria</key>
  <string>O_i_acute-beria.glif</string>
  <key>Oi_dot-beria</key>
  <string>O_i_dot-beria.glif</string>
  <key>Oi_grave-beria</key>
  <string>O_i_grave-beria.glif</string>
  <key>Oi_macron-beria</key>
  <string>O_i_macron-beria.glif</string>
  <key>Pi-beria</key>
  <string>P_i-beria.glif</string>
  <key>Shep-beria</key>
  <string>S_hep-beria.glif</string>
  <key>Shep-beria.alt</key>
  <string>S_hep-beria.alt.glif</string>
  <key>Tai-beria</key>
  <string>T_ai-beria.glif</string>
  <key>Tchay-beria</key>
  <string>T_chay-beria.glif</string>
  <key>Uy-beria</key>
  <string>U_y-beria.glif</string>
  <key>Uy_acute-beria</key>
  <string>U_y_acute-beria.glif</string>
  <key>Uy_dot-beria</key>
  <string>U_y_dot-beria.glif</string>
  <key>Uy_grave-beria</key>
  <string>U_y_grave-beria.glif</string>
  <key>Uy_macron-beria</key>
  <string>U_y_macron-beria.glif</string>
  <key>Way-beria</key>
  <string>W_ay-beria.glif</string>
  <key>Yay-beria</key>
  <string>Y_ay-beria.glif</string>
  <key>Yay_dot-beria</key>
  <string>Y_ay_dot-beria.glif</string>
  <key>ZWNBS</key>
  <string>Z_W_N_B_S_.glif</string>
  <key>ZWSP</key>
  <string>Z_W_S_P_.glif</string>
  <key>Zay-beria</key>
  <string>Z_ay-beria.glif</string>
  <key>acute-beria</key>
  <string>acute-beria.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>archi-beria</key>
  <string>archi-beria.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>ay-beria</key>
  <string>ay-beria.glif</string>
  <key>ay-beria.alt</key>
  <string>ay-beria.alt.glif</string>
  <key>ay_acute-beria</key>
  <string>ay_acute-beria.glif</string>
  <key>ay_dot-beria</key>
  <string>ay_dot-beria.glif</string>
  <key>ay_grave-beria</key>
  <string>ay_grave-beria.glif</string>
  <key>ay_macron-beria</key>
  <string>ay_macron-beria.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bay-beria</key>
  <string>bay-beria.glif</string>
  <key>bay-beria.alt</key>
  <string>bay-beria.alt.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chei-beria</key>
  <string>chei-beria.glif</string>
  <key>chei-beria.alt</key>
  <string>chei-beria.alt.glif</string>
  <key>circumflex-beria</key>
  <string>circumflex-beria.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>day-beria</key>
  <string>day-beria.glif</string>
  <key>day-beria.alt</key>
  <string>day-beria.alt.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis-beria</key>
  <string>dieresis-beria.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>djay-beria</key>
  <string>djay-beria.glif</string>
  <key>djay-beria.alt</key>
  <string>djay-beria.alt.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dot-beria</key>
  <string>dot-beria.glif</string>
  <key>effi-beria</key>
  <string>effi-beria.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight-beria</key>
  <string>eight-beria.glif</string>
  <key>elli-beria</key>
  <string>elli-beria.glif</string>
  <key>elli-beria.alt</key>
  <string>elli-beria.alt.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emmi-beria</key>
  <string>emmi-beria.glif</string>
  <key>emmi-beria.alt</key>
  <string>emmi-beria.alt.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enni-beria</key>
  <string>enni-beria.glif</string>
  <key>enni-beria.alt</key>
  <string>enni-beria.alt.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>erri-2-beria</key>
  <string>erri-2-beria.glif</string>
  <key>erri-beria</key>
  <string>erri-beria.glif</string>
  <key>essi-beria</key>
  <string>essi-beria.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>ey-beria</key>
  <string>ey-beria.glif</string>
  <key>ey-beria.alt</key>
  <string>ey-beria.alt.glif</string>
  <key>ey_acute-beria</key>
  <string>ey_acute-beria.glif</string>
  <key>ey_dot-beria</key>
  <string>ey_dot-beria.glif</string>
  <key>ey_grave-beria</key>
  <string>ey_grave-beria.glif</string>
  <key>ey_macron-beria</key>
  <string>ey_macron-beria.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five-beria</key>
  <string>five-beria.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four-beria</key>
  <string>four-beria.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>gay-beria</key>
  <string>gay-beria.glif</string>
  <key>gay-beria.alt</key>
  <string>gay-beria.alt.glif</string>
  <key>gna-beria</key>
  <string>gna-beria.glif</string>
  <key>gna-beria.alt</key>
  <string>gna-beria.alt.glif</string>
  <key>grave-beria</key>
  <string>grave-beria.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>hay-beria</key>
  <string>hay-beria.glif</string>
  <key>hiyi-beria</key>
  <string>hiyi-beria.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>iya-beria</key>
  <string>iya-beria.glif</string>
  <key>iyi-beria</key>
  <string>iyi-beria.glif</string>
  <key>iyi_acute-beria</key>
  <string>iyi_acute-beria.glif</string>
  <key>iyi_dot-beria</key>
  <string>iyi_dot-beria.glif</string>
  <key>iyi_grave-beria</key>
  <string>iyi_grave-beria.glif</string>
  <key>iyi_macron-beria</key>
  <string>iyi_macron-beria.glif</string>
  <key>key-beria</key>
  <string>key-beria.glif</string>
  <key>key-beria.alt</key>
  <string>key-beria.alt.glif</string>
  <key>khay-beria</key>
  <string>khay-beria.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>macron-beria</key>
  <string>macron-beria.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>nay-beria</key>
  <string>nay-beria.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine-beria</key>
  <string>nine-beria.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>oi-beria</key>
  <string>oi-beria.glif</string>
  <key>oi-beria.alt</key>
  <string>oi-beria.alt.glif</string>
  <key>oi_acute-beria</key>
  <string>oi_acute-beria.glif</string>
  <key>oi_dot-beria</key>
  <string>oi_dot-beria.glif</string>
  <key>oi_grave-beria</key>
  <string>oi_grave-beria.glif</string>
  <key>oi_macron-beria</key>
  <string>oi_macron-beria.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one-beria</key>
  <string>one-beria.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi-beria</key>
  <string>pi-beria.glif</string>
  <key>placeholder</key>
  <string>placeholder.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven-beria</key>
  <string>seven-beria.glif</string>
  <key>shep-beria</key>
  <string>shep-beria.glif</string>
  <key>shep-beria.alt</key>
  <string>shep-beria.alt.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six-beria</key>
  <string>six-beria.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>tai-beria</key>
  <string>tai-beria.glif</string>
  <key>tchay-beria</key>
  <string>tchay-beria.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three-beria</key>
  <string>three-beria.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-beria</key>
  <string>two-beria.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni2060</key>
  <string>uni2060.glif</string>
  <key>uy-beria</key>
  <string>uy-beria.glif</string>
  <key>uy_acute-beria</key>
  <string>uy_acute-beria.glif</string>
  <key>uy_dot-beria</key>
  <string>uy_dot-beria.glif</string>
  <key>uy_grave-beria</key>
  <string>uy_grave-beria.glif</string>
  <key>uy_macron-beria</key>
  <string>uy_macron-beria.glif</string>
  <key>way-beria</key>
  <string>way-beria.glif</string>
  <key>yay-beria</key>
  <string>yay-beria.glif</string>
  <key>yay_dot-beria</key>
  <string>yay_dot-beria.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>zay-beria</key>
  <string>zay-beria.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero-beria</key>
  <string>zero-beria.glif</string>
</dict>
</plist>
