<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.Ay_acute-beria</key>
  <array>
    <string>Ay-beria</string>
    <string>Ay-beria.alt</string>
    <string>Ay_acute-beria</string>
    <string>Ay_grave-beria</string>
    <string>Ay_macron-beria</string>
  </array>
  <key>public.kern1.Bay-beria</key>
  <array>
    <string>Bay-beria</string>
  </array>
  <key>public.kern1.Chei-beria</key>
  <array>
    <string>Chei-beria</string>
    <string>Chei-beria.alt</string>
  </array>
  <key>public.kern1.Day-beria</key>
  <array>
    <string>Day-beria</string>
  </array>
  <key>public.kern1.Djay-beria</key>
  <array>
    <string>Djay-beria</string>
  </array>
  <key>public.kern1.Effi-beria</key>
  <array>
    <string>Effi-beria</string>
    <string>Effi-beria.alt</string>
    <string>Hay-beria</string>
  </array>
  <key>public.kern1.Elli-beria</key>
  <array>
    <string>Elli-beria</string>
    <string>Elli-beria.alt</string>
  </array>
  <key>public.kern1.Emmi-beria</key>
  <array>
    <string>Emmi-beria</string>
  </array>
  <key>public.kern1.Erri-beria</key>
  <array>
    <string>Erri-beria</string>
  </array>
  <key>public.kern1.Ey-beria</key>
  <array>
    <string>Ey-beria</string>
    <string>Ey-beria.alt</string>
    <string>Ey_acute-beria</string>
    <string>Ey_dot-beria</string>
    <string>Ey_grave-beria</string>
    <string>Ey_macron-beria</string>
  </array>
  <key>public.kern1.Gay-beria</key>
  <array>
    <string>Gay-beria</string>
  </array>
  <key>public.kern1.Gna-beria</key>
  <array>
    <string>Gna-beria</string>
  </array>
  <key>public.kern1.Iyi-beria</key>
  <array>
    <string>Iyi-beria</string>
    <string>Iyi-beria.alt</string>
    <string>Iyi_acute-beria</string>
    <string>Iyi_dot-beria</string>
    <string>Iyi_grave-beria</string>
    <string>Iyi_macron-beria</string>
  </array>
  <key>public.kern1.Key-beria</key>
  <array>
    <string>Enni-beria</string>
    <string>Key-beria</string>
    <string>Key-beria.alt</string>
  </array>
  <key>public.kern1.Nay-beria</key>
  <array>
    <string>Nay-beria</string>
  </array>
  <key>public.kern1.Oi-beria</key>
  <array>
    <string>Oi-beria</string>
    <string>Oi_acute-beria</string>
    <string>Oi_grave-beria</string>
    <string>Oi_macron-beria</string>
  </array>
  <key>public.kern1.Pi-beria</key>
  <array>
    <string>Pi-beria</string>
  </array>
  <key>public.kern1.Shep-beria</key>
  <array>
    <string>Shep-beria</string>
    <string>Shep-beria.alt</string>
  </array>
  <key>public.kern1.Tai-beria</key>
  <array>
    <string>Tai-beria</string>
  </array>
  <key>public.kern1.Uy-beria</key>
  <array>
    <string>Uy-beria</string>
    <string>Uy_acute-beria</string>
    <string>Uy_grave-beria</string>
    <string>Uy_macron-beria</string>
  </array>
  <key>public.kern1.Way-beria</key>
  <array>
    <string>Way-beria</string>
  </array>
  <key>public.kern1.Yay-beria</key>
  <array>
    <string>Yay-beria</string>
  </array>
  <key>public.kern1.ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern1.asterisk</key>
  <array>
    <string>asterisk</string>
  </array>
  <key>public.kern1.ay-beria</key>
  <array>
    <string>ay-beria</string>
    <string>ay-beria.alt</string>
    <string>ay_acute-beria</string>
    <string>ay_grave-beria</string>
    <string>ay_macron-beria</string>
  </array>
  <key>public.kern1.backslash</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern1.bay-beria</key>
  <array>
    <string>bay-beria</string>
    <string>bay-beria.alt</string>
    <string>erri-beria</string>
    <string>hay-beria</string>
  </array>
  <key>public.kern1.braceleft</key>
  <array>
    <string>braceleft</string>
  </array>
  <key>public.kern1.bracketleft</key>
  <array>
    <string>bracketleft</string>
  </array>
  <key>public.kern1.bullet</key>
  <array>
    <string>bullet</string>
  </array>
  <key>public.kern1.chei-beria</key>
  <array>
    <string>chei-beria</string>
    <string>chei-beria.alt</string>
  </array>
  <key>public.kern1.comma</key>
  <array>
    <string>comma</string>
  </array>
  <key>public.kern1.dagger</key>
  <array>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>public.kern1.day-beria</key>
  <array>
    <string>day-beria</string>
    <string>day-beria.alt</string>
  </array>
  <key>public.kern1.djay-beria</key>
  <array>
    <string>djay-beria</string>
    <string>djay-beria.alt</string>
  </array>
  <key>public.kern1.effi-beria</key>
  <array>
    <string>effi-beria</string>
  </array>
  <key>public.kern1.eight</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern1.elli-beria</key>
  <array>
    <string>elli-beria</string>
    <string>elli-beria.alt</string>
  </array>
  <key>public.kern1.emmi-beria</key>
  <array>
    <string>emmi-beria</string>
    <string>emmi-beria.alt</string>
  </array>
  <key>public.kern1.enni-beria</key>
  <array>
    <string>enni-beria</string>
    <string>enni-beria.alt</string>
  </array>
  <key>public.kern1.exclam</key>
  <array>
    <string>exclam</string>
  </array>
  <key>public.kern1.ey-beria</key>
  <array>
    <string>ey-beria</string>
    <string>ey-beria.alt</string>
    <string>ey_acute-beria</string>
    <string>ey_dot-beria</string>
    <string>ey_grave-beria</string>
    <string>ey_macron-beria</string>
  </array>
  <key>public.kern1.five</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern1.four</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern1.gay-beria</key>
  <array>
    <string>gay-beria</string>
    <string>gay-beria.alt</string>
  </array>
  <key>public.kern1.gna-beria</key>
  <array>
    <string>gna-beria</string>
    <string>gna-beria.alt</string>
  </array>
  <key>public.kern1.guilsinglleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.guilsinglright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.hyphen</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern1.iyi-beria</key>
  <array>
    <string>iyi-beria</string>
    <string>iyi_acute-beria</string>
    <string>iyi_grave-beria</string>
    <string>iyi_macron-beria</string>
  </array>
  <key>public.kern1.key-beria</key>
  <array>
    <string>key-beria</string>
    <string>key-beria.alt</string>
  </array>
  <key>public.kern1.nay-beria</key>
  <array>
    <string>nay-beria</string>
  </array>
  <key>public.kern1.oi-beria</key>
  <array>
    <string>oi-beria</string>
    <string>oi-beria.alt</string>
    <string>oi_acute-beria</string>
    <string>oi_grave-beria</string>
    <string>oi_macron-beria</string>
  </array>
  <key>public.kern1.one</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern1.parenleft</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>period</string>
  </array>
  <key>public.kern1.pi-beria</key>
  <array>
    <string>pi-beria</string>
  </array>
  <key>public.kern1.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.quotesinglbase</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.quotesingle</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.registered</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>public.kern1.semicolon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.seven</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern1.shep-beria</key>
  <array>
    <string>shep-beria</string>
    <string>shep-beria.alt</string>
  </array>
  <key>public.kern1.six</key>
  <array>
    <string>six</string>
  </array>
  <key>public.kern1.slash</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern1.space</key>
  <array>
    <string>space</string>
  </array>
  <key>public.kern1.tai-beria</key>
  <array>
    <string>tai-beria</string>
  </array>
  <key>public.kern1.three</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern1.two</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern1.uy-beria</key>
  <array>
    <string>uy-beria</string>
    <string>uy_acute-beria</string>
    <string>uy_grave-beria</string>
    <string>uy_macron-beria</string>
  </array>
  <key>public.kern1.way-beria</key>
  <array>
    <string>way-beria</string>
  </array>
  <key>public.kern1.yay-beria</key>
  <array>
    <string>yay-beria</string>
  </array>
  <key>public.kern1.zero</key>
  <array>
    <string>nine</string>
    <string>zero</string>
  </array>
  <key>public.kern2.Ay_acute-beria</key>
  <array>
    <string>Ay-beria</string>
    <string>Ay-beria.alt</string>
    <string>Ay_acute-beria</string>
    <string>Ay_grave-beria</string>
    <string>Ay_macron-beria</string>
  </array>
  <key>public.kern2.Bay-beria</key>
  <array>
    <string>Bay-beria</string>
  </array>
  <key>public.kern2.Chei-beria</key>
  <array>
    <string>Chei-beria</string>
    <string>Chei-beria.alt</string>
  </array>
  <key>public.kern2.Day-beria</key>
  <array>
    <string>Day-beria</string>
  </array>
  <key>public.kern2.Djay-beria</key>
  <array>
    <string>Djay-beria</string>
  </array>
  <key>public.kern2.Effi-beria</key>
  <array>
    <string>Effi-beria</string>
    <string>Effi-beria.alt</string>
  </array>
  <key>public.kern2.Elli-beria</key>
  <array>
    <string>Elli-beria</string>
    <string>Elli-beria.alt</string>
  </array>
  <key>public.kern2.Emmi-beria</key>
  <array>
    <string>Emmi-beria</string>
  </array>
  <key>public.kern2.Enni-beria</key>
  <array>
    <string>Enni-beria</string>
  </array>
  <key>public.kern2.Erri-beria</key>
  <array>
    <string>Erri-beria</string>
  </array>
  <key>public.kern2.Ey-beria</key>
  <array>
    <string>Ey-beria</string>
    <string>Ey-beria.alt</string>
    <string>Ey_acute-beria</string>
    <string>Ey_dot-beria</string>
    <string>Ey_grave-beria</string>
    <string>Ey_macron-beria</string>
  </array>
  <key>public.kern2.Gay-beria</key>
  <array>
    <string>Gay-beria</string>
  </array>
  <key>public.kern2.Gna-beria</key>
  <array>
    <string>Gna-beria</string>
  </array>
  <key>public.kern2.Iyi-beria</key>
  <array>
    <string>Iyi-beria</string>
    <string>Iyi-beria.alt</string>
    <string>Iyi_acute-beria</string>
    <string>Iyi_dot-beria</string>
    <string>Iyi_grave-beria</string>
    <string>Iyi_macron-beria</string>
  </array>
  <key>public.kern2.Key-beria</key>
  <array>
    <string>Key-beria</string>
    <string>Key-beria.alt</string>
  </array>
  <key>public.kern2.Nay-beria</key>
  <array>
    <string>Nay-beria</string>
  </array>
  <key>public.kern2.Oi-beria</key>
  <array>
    <string>Oi-beria</string>
    <string>Oi_acute-beria</string>
    <string>Oi_grave-beria</string>
    <string>Oi_macron-beria</string>
  </array>
  <key>public.kern2.Pi-beria</key>
  <array>
    <string>Pi-beria</string>
  </array>
  <key>public.kern2.Shep-beria</key>
  <array>
    <string>Shep-beria</string>
    <string>Shep-beria.alt</string>
  </array>
  <key>public.kern2.Tai-beria</key>
  <array>
    <string>Tai-beria</string>
  </array>
  <key>public.kern2.Uy-beria</key>
  <array>
    <string>Uy-beria</string>
    <string>Uy_acute-beria</string>
    <string>Uy_grave-beria</string>
    <string>Uy_macron-beria</string>
  </array>
  <key>public.kern2.Way-beria</key>
  <array>
    <string>Way-beria</string>
  </array>
  <key>public.kern2.Yay-beria</key>
  <array>
    <string>Yay-beria</string>
  </array>
  <key>public.kern2.ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern2.asterisk</key>
  <array>
    <string>asterisk</string>
  </array>
  <key>public.kern2.ay-beria</key>
  <array>
    <string>ay-beria</string>
    <string>ay-beria.alt</string>
    <string>ay_acute-beria</string>
    <string>ay_grave-beria</string>
    <string>ay_macron-beria</string>
  </array>
  <key>public.kern2.backslash</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern2.bay-beria</key>
  <array>
    <string>bay-beria</string>
    <string>bay-beria.alt</string>
    <string>pi-beria</string>
  </array>
  <key>public.kern2.braceright</key>
  <array>
    <string>braceright</string>
  </array>
  <key>public.kern2.bracketright</key>
  <array>
    <string>bracketright</string>
  </array>
  <key>public.kern2.bullet</key>
  <array>
    <string>bullet</string>
  </array>
  <key>public.kern2.chei-beria</key>
  <array>
    <string>chei-beria</string>
    <string>chei-beria.alt</string>
  </array>
  <key>public.kern2.comma</key>
  <array>
    <string>comma</string>
  </array>
  <key>public.kern2.dagger</key>
  <array>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
  <key>public.kern2.day-beria</key>
  <array>
    <string>day-beria</string>
    <string>day-beria.alt</string>
  </array>
  <key>public.kern2.djay-beria</key>
  <array>
    <string>djay-beria</string>
    <string>djay-beria.alt</string>
  </array>
  <key>public.kern2.effi-beria</key>
  <array>
    <string>effi-beria</string>
  </array>
  <key>public.kern2.eight</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern2.elli-beria</key>
  <array>
    <string>elli-beria</string>
    <string>elli-beria.alt</string>
  </array>
  <key>public.kern2.emmi-beria</key>
  <array>
    <string>emmi-beria</string>
    <string>emmi-beria.alt</string>
  </array>
  <key>public.kern2.enni-beria</key>
  <array>
    <string>enni-beria</string>
    <string>enni-beria.alt</string>
  </array>
  <key>public.kern2.exclam</key>
  <array>
    <string>exclam</string>
  </array>
  <key>public.kern2.ey-beria</key>
  <array>
    <string>ey-beria</string>
    <string>ey-beria.alt</string>
    <string>ey_acute-beria</string>
    <string>ey_dot-beria</string>
    <string>ey_grave-beria</string>
    <string>ey_macron-beria</string>
  </array>
  <key>public.kern2.five</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern2.four</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern2.gay-beria</key>
  <array>
    <string>gay-beria</string>
    <string>gay-beria.alt</string>
  </array>
  <key>public.kern2.guilsinglleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.guilsinglright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.hay-beria</key>
  <array>
    <string>erri-beria</string>
    <string>gna-beria</string>
    <string>gna-beria.alt</string>
    <string>hay-beria</string>
    <string>nay-beria</string>
  </array>
  <key>public.kern2.hyphen</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern2.iyi-beria</key>
  <array>
    <string>iyi-beria</string>
    <string>iyi_acute-beria</string>
    <string>iyi_grave-beria</string>
    <string>iyi_macron-beria</string>
  </array>
  <key>public.kern2.key-beria</key>
  <array>
    <string>key-beria</string>
    <string>key-beria.alt</string>
  </array>
  <key>public.kern2.nine</key>
  <array>
    <string>nine</string>
  </array>
  <key>public.kern2.oi-beria</key>
  <array>
    <string>oi-beria</string>
    <string>oi-beria.alt</string>
    <string>oi_acute-beria</string>
    <string>oi_grave-beria</string>
    <string>oi_macron-beria</string>
  </array>
  <key>public.kern2.one</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern2.parenright</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern2.percent</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>period</string>
  </array>
  <key>public.kern2.question</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern2.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.quotesinglbase</key>
  <array>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.quotesingle</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.semicolon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.seven</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern2.shep-beria</key>
  <array>
    <string>shep-beria</string>
    <string>shep-beria.alt</string>
  </array>
  <key>public.kern2.slash</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern2.space</key>
  <array>
    <string>space</string>
  </array>
  <key>public.kern2.tai-beria</key>
  <array>
    <string>tai-beria</string>
  </array>
  <key>public.kern2.three</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern2.trademark</key>
  <array>
    <string>trademark</string>
  </array>
  <key>public.kern2.two</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern2.uy-beria</key>
  <array>
    <string>uy-beria</string>
    <string>uy_acute-beria</string>
    <string>uy_grave-beria</string>
    <string>uy_macron-beria</string>
  </array>
  <key>public.kern2.way-beria</key>
  <array>
    <string>way-beria</string>
  </array>
  <key>public.kern2.yay-beria</key>
  <array>
    <string>yay-beria</string>
  </array>
  <key>public.kern2.zero</key>
  <array>
    <string>six</string>
    <string>zero</string>
  </array>
</dict>
</plist>
