<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.github.googlei18n.ufo2ft.featureWriters</key>
  <array>
    <dict>
      <key>class</key>
      <string>KernFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>ContextualMarkFeatureWriter</string>
      <key>module</key>
      <string>glyphsLib.featureWriters.markFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>GdefFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>CursFeatureWriter</string>
    </dict>
  </array>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3124</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string/>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Zaghawa Beria Regular: 2023</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>Ey-beria</string>
    <string>Effi-beria</string>
    <string>Hay-beria</string>
    <string>ay-beria</string>
    <string>bay-beria</string>
    <string>period</string>
    <string>shep-beria</string>
    <string>day-beria</string>
    <string>ey-beria</string>
    <string>effi-beria</string>
    <string>gay-beria</string>
    <string>hay-beria</string>
    <string>iyi-beria</string>
    <string>djay-beria</string>
    <string>key-beria</string>
    <string>elli-beria</string>
    <string>emmi-beria</string>
    <string>enni-beria</string>
    <string>oi-beria</string>
    <string>pi-beria</string>
    <string>erri-beria</string>
    <string>erri-2-beria</string>
    <string>chei-beria</string>
    <string>tai-beria</string>
    <string>uy-beria</string>
    <string>way-beria</string>
    <string>nay-beria</string>
    <string>yay-beria</string>
    <string>gna-beria</string>
    <string>Gay-beria</string>
    <string>Iyi-beria</string>
    <string>Djay-beria</string>
    <string>Key-beria</string>
    <string>Elli-beria</string>
    <string>Emmi-beria</string>
    <string>Enni-beria</string>
    <string>Oi-beria</string>
    <string>Pi-beria</string>
    <string>Erri-2-beria</string>
    <string>Erri-beria</string>
    <string>Chei-beria</string>
    <string>Tai-beria</string>
    <string>Uy-beria</string>
    <string>Way-beria</string>
    <string>Nay-beria</string>
    <string>Yay-beria</string>
    <string>Gna-beria</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>Day-beria</string>
    <string>comma</string>
    <string>semicolon</string>
    <string>colon</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bar</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>plus</string>
    <string>minus</string>
    <string>divide</string>
    <string>Ay_acute-beria</string>
    <string>Ay_dot-beria</string>
    <string>ay_acute-beria</string>
    <string>ay_dot-beria</string>
    <string>Ey_acute-beria</string>
    <string>Ey_dot-beria</string>
    <string>iyi_acute-beria</string>
    <string>iyi_dot-beria</string>
    <string>Oi_acute-beria</string>
    <string>Oi_dot-beria</string>
    <string>Iyi_acute-beria</string>
    <string>Iyi_dot-beria</string>
    <string>Uy_acute-beria</string>
    <string>Uy_dot-beria</string>
    <string>oi_acute-beria</string>
    <string>oi_dot-beria</string>
    <string>ey_acute-beria</string>
    <string>ey_dot-beria</string>
    <string>uy_acute-beria</string>
    <string>uy_dot-beria</string>
    <string>paragraph</string>
    <string>equal</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>question</string>
    <string>exclam</string>
    <string>cent</string>
    <string>section</string>
    <string>registered</string>
    <string>copyright</string>
    <string>yen</string>
    <string>sterling</string>
    <string>dollar</string>
    <string>percent</string>
    <string>bullet</string>
    <string>numbersign</string>
    <string>less</string>
    <string>greater</string>
    <string>multiply</string>
    <string>degree</string>
    <string>slash</string>
    <string>ampersand</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>trademark</string>
    <string>perthousand</string>
    <string>Euro</string>
    <string>florin</string>
    <string>quotesinglbase</string>
    <string>asterisk</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>fraction</string>
    <string>quoteright</string>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>ellipsis</string>
    <string>plusminus</string>
    <string>backslash</string>
    <string>underscore</string>
    <string>at</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>Ay-beria</string>
    <string>Ay_grave-beria</string>
    <string>ay_grave-beria</string>
    <string>Ey_grave-beria</string>
    <string>ey_grave-beria</string>
    <string>Iyi_grave-beria</string>
    <string>iyi_grave-beria</string>
    <string>Oi_grave-beria</string>
    <string>oi_grave-beria</string>
    <string>Uy_grave-beria</string>
    <string>uy_grave-beria</string>
    <string>Ey_macron-beria</string>
    <string>approxequal</string>
    <string>ay_macron-beria</string>
    <string>Oi_macron-beria</string>
    <string>Uy_macron-beria</string>
    <string>Iyi_macron-beria</string>
    <string>uy_macron-beria</string>
    <string>oi_macron-beria</string>
    <string>Ay_macron-beria</string>
    <string>iyi_macron-beria</string>
    <string>ey_macron-beria</string>
    <string>Bay-beria</string>
    <string>Shep-beria</string>
    <string>Yay_dot-beria</string>
    <string>yay_dot-beria</string>
    <string>Tchay-beria</string>
    <string>tchay-beria</string>
    <string>Archi-beria</string>
    <string>archi-beria</string>
    <string>Hiyi-beria</string>
    <string>hiyi-beria</string>
    <string>Iya-beria</string>
    <string>iya-beria</string>
    <string>Essi-beria</string>
    <string>essi-beria</string>
    <string>Khay-beria</string>
    <string>khay-beria</string>
    <string>Zay-beria</string>
    <string>zay-beria</string>
    <string>zero-beria</string>
    <string>one-beria</string>
    <string>two-beria</string>
    <string>three-beria</string>
    <string>four-beria</string>
    <string>five-beria</string>
    <string>six-beria</string>
    <string>seven-beria</string>
    <string>eight-beria</string>
    <string>nine-beria</string>
    <string>grave-beria</string>
    <string>acute-beria</string>
    <string>macron-beria</string>
    <string>dot-beria</string>
    <string>ZWSP</string>
    <string>uni2060</string>
    <string>circumflex-beria</string>
    <string>dieresis-beria</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Ay-beria</key>
    <string>A</string>
    <key>Ay_acute-beria</key>
    <string>Aacute</string>
    <key>Ay_dot-beria</key>
    <string>Adotaccent</string>
    <key>Ay_grave-beria</key>
    <string>Agrave</string>
    <key>Ay_macron-beria</key>
    <string>Acircumflex</string>
    <key>Bay-beria</key>
    <string>B</string>
    <key>Chei-beria</key>
    <string>S</string>
    <key>Day-beria</key>
    <string>D</string>
    <key>Djay-beria</key>
    <string>J</string>
    <key>Effi-beria</key>
    <string>F</string>
    <key>Elli-beria</key>
    <string>L</string>
    <key>Emmi-beria</key>
    <string>M</string>
    <key>Enni-beria</key>
    <string>N</string>
    <key>Erri-2-beria</key>
    <string>Q</string>
    <key>Erri-beria</key>
    <string>R</string>
    <key>Ey-beria</key>
    <string>E</string>
    <key>Ey_acute-beria</key>
    <string>Eacute</string>
    <key>Ey_dot-beria</key>
    <string>Edotaccent</string>
    <key>Ey_grave-beria</key>
    <string>Egrave</string>
    <key>Ey_macron-beria</key>
    <string>Ecircumflex</string>
    <key>Gay-beria</key>
    <string>G</string>
    <key>Gna-beria</key>
    <string>Z</string>
    <key>Hay-beria</key>
    <string>H</string>
    <key>Iyi-beria</key>
    <string>I</string>
    <key>Iyi_acute-beria</key>
    <string>Iacute</string>
    <key>Iyi_dot-beria</key>
    <string>Idotaccent</string>
    <key>Iyi_grave-beria</key>
    <string>Igrave</string>
    <key>Iyi_macron-beria</key>
    <string>Icircumflex</string>
    <key>Key-beria</key>
    <string>K</string>
    <key>Nay-beria</key>
    <string>X</string>
    <key>Oi-beria</key>
    <string>O</string>
    <key>Oi_acute-beria</key>
    <string>Oacute</string>
    <key>Oi_dot-beria</key>
    <string>Odotaccent</string>
    <key>Oi_grave-beria</key>
    <string>Ograve</string>
    <key>Oi_macron-beria</key>
    <string>Ocircumflex</string>
    <key>Pi-beria</key>
    <string>P</string>
    <key>Shep-beria</key>
    <string>C</string>
    <key>Tai-beria</key>
    <string>T</string>
    <key>Uy-beria</key>
    <string>U</string>
    <key>Uy_acute-beria</key>
    <string>Uacute</string>
    <key>Uy_dot-beria</key>
    <string>Udotaccent</string>
    <key>Uy_grave-beria</key>
    <string>Ugrave</string>
    <key>Uy_macron-beria</key>
    <string>Ucircumflex</string>
    <key>Way-beria</key>
    <string>W</string>
    <key>Yay-beria</key>
    <string>Y</string>
    <key>acute-beria</key>
    <string>acute</string>
    <key>ay-beria</key>
    <string>a</string>
    <key>ay_acute-beria</key>
    <string>aacute</string>
    <key>ay_dot-beria</key>
    <string>adotaccent</string>
    <key>ay_grave-beria</key>
    <string>agrave</string>
    <key>ay_macron-beria</key>
    <string>acircumflex</string>
    <key>bay-beria</key>
    <string>b</string>
    <key>chei-beria</key>
    <string>s</string>
    <key>day-beria</key>
    <string>d</string>
    <key>djay-beria</key>
    <string>j</string>
    <key>dot-beria</key>
    <string>dotaccent</string>
    <key>effi-beria</key>
    <string>f</string>
    <key>elli-beria</key>
    <string>l</string>
    <key>emmi-beria</key>
    <string>m</string>
    <key>enni-beria</key>
    <string>n</string>
    <key>erri-2-beria</key>
    <string>q</string>
    <key>erri-beria</key>
    <string>r</string>
    <key>ey-beria</key>
    <string>e</string>
    <key>ey_acute-beria</key>
    <string>eacute</string>
    <key>ey_dot-beria</key>
    <string>edotaccent</string>
    <key>ey_grave-beria</key>
    <string>egrave</string>
    <key>ey_macron-beria</key>
    <string>ecircumflex</string>
    <key>gay-beria</key>
    <string>g</string>
    <key>gna-beria</key>
    <string>z</string>
    <key>grave-beria</key>
    <string>grave</string>
    <key>hay-beria</key>
    <string>h</string>
    <key>iyi-beria</key>
    <string>i</string>
    <key>iyi_acute-beria</key>
    <string>iacute</string>
    <key>iyi_dot-beria</key>
    <string>idotaccent</string>
    <key>iyi_grave-beria</key>
    <string>igrave</string>
    <key>iyi_macron-beria</key>
    <string>icircumflex</string>
    <key>key-beria</key>
    <string>k</string>
    <key>macron-beria</key>
    <string>macron</string>
    <key>nay-beria</key>
    <string>x</string>
    <key>nonmarkingreturn</key>
    <string>CR</string>
    <key>oi-beria</key>
    <string>o</string>
    <key>oi_acute-beria</key>
    <string>oacute</string>
    <key>oi_dot-beria</key>
    <string>odotaccent</string>
    <key>oi_grave-beria</key>
    <string>ograve</string>
    <key>oi_macron-beria</key>
    <string>ocircumflex</string>
    <key>pi-beria</key>
    <string>p</string>
    <key>shep-beria</key>
    <string>c</string>
    <key>tai-beria</key>
    <string>t</string>
    <key>uy-beria</key>
    <string>u</string>
    <key>uy_acute-beria</key>
    <string>uacute</string>
    <key>uy_dot-beria</key>
    <string>udotaccent</string>
    <key>uy_grave-beria</key>
    <string>ugrave</string>
    <key>uy_macron-beria</key>
    <string>ucircumflex</string>
    <key>way-beria</key>
    <string>w</string>
    <key>yay-beria</key>
    <string>y</string>
  </dict>
</dict>
</plist>
